---
import Layout from '../layouts/Layout.astro';
import Package from '../../package.json';
---

<Layout title="About">
    <p>
        {Package.name} {Package.description}
    </p>
    <p>
        Version: {Package.version}
    </p>
</Layout>