---
import Layout from '../layouts/Layout.astro';
import home from '../api/home/home';
import Collection from "../components/collection/collection";

const { lastAddedMovies } = home();
---

<Layout title="Home">
	<section>
		<h2>Last Added Movies</h2>
		<Collection foundMovies={lastAddedMovies} />
	</section>
</Layout>