---
import Layout from '../layouts/Layout.astro';
import MoviesDataCalculation from '../api/movies/movies';
import Movies from '../components/movie/movies';
import type { Movie } from '../api/home/lastAddedMovies';

const movies: Movie[] = MoviesDataCalculation();
---

<Layout title="Movies">
	<Movies sortedMovies={movies} />
</Layout>