@media screen and (max-width: 370px) {
    .pageTitle h1 {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 992px) {
    .pageTitle {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
