.movie {
    display: flex;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: 1px solid #dee2e6;
    content-visibility: auto;
    /* absolute minimum height: 225px image height + 4px link height + 8px padding top+bottom + 1px grid */
    contain-intrinsic-size: 246px;
}

.movie .content {
    padding-left: 1rem;
}

.movie .tagline {
    color: #4b535a;
    overflow-wrap: break-word;
}

.movie .description,
.movie .extra,
.movie .actors {
    margin-top: .5rem;
    max-height: 225px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}

/* aligned with bootstrap grid category small */
@media screen and (max-width: 576px) {
    .movie {
        display: block;
        text-align: center;
    }

    .movie .content {
        padding: 0em;
    }
}