.movieTitleHeader a {
    color: black;
    text-decoration: none;
}

.movieTitleHeader {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    overflow-wrap: break-word;
}