---
import Header from '../components/header/header'
import Package from '../../package.json'
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content={Package.description} />
	<meta name="theme-color" content={Package.theme} />
    <link href="/icon/mymovies_96px_1x.png" rel="icon" type="image/png" />
    <link href="/icon/apple-touch-icon.png" rel="apple-touch-icon" type="image/png" />
	<title>{title}</title>
</head>

<body>
	<Header title={title} />
	<main>
		<slot />
	</main>
</body>

</html>
<style>
	:root {
		--color-text: hsl(12, 5%, 4%);
		--color-bg: hsl(10, 21%, 95%);
		--color-border: hsl(17, 24%, 90%);
	}

	html {
		color: var(--color-text);
		background-color: var(--color-bg);
	}

	body {
		margin: 8px;
	}

	/* aligned with bootstrap grid category large */
	@media screen and (min-width: 992px) {
		main {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>