.navlistitem>a {
    display: block;
    padding-top: .5rem;
    text-decoration: none;
    background-color: transparent;
    color: rgba(255, 255, 255, .7);
}

.active {
    color: #fff !important;
    font-weight: bold !important;
}

@media screen and (max-width: 370px) {
    .navlistitem>a {
        padding-top: .25rem;
    }
}